.imglens{
    height: 1.7rem;
    object-fit: contain;
}
.carousel-item{
    max-height: 700px;
}
.c-item{
    height: 450px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
section{
    display: flex;
    flex-wrap: wrap!important;
}
.imglogo{
    width: 10rem;
}

.search{
    height: 1.7rem;
}

table, th, tr, td{
    border: 1px solid black!important;
    border-collapse: collapse;
}
.categories{
    background-color: #896a6798;
}
section{
    background-color: #DDC8C4;
}
main{
    background-color: #DDC8C4;
}
footer{
    background-color: #13070C;
}
.fondodiv{
    background-color: #896A67!important;
}
body{
    background-color: #896A67;
}
#exampleFormControlTextarea1{
    resize: none;
}
.btn{
    background-color: rgb(38, 16, 49)!important;
    border-color: black!important;
}
*{
    font-family: 'Lora', serif;
}

.container2{
    min-height: 20rem!important;
}
.card{
    height: 30rem!important;
}
.card-body{
    background-color: #896A67;
    min-height: 10rem!important;
}
